*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
}
a {
    outline: 0;
    text-decoration: none;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
}
.breadcrumb__bg {
    background-size: cover;
    background-position: center;
    padding: 80px 0;;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.breadcrumb__content .title {
    margin-bottom: 10px;
    color: #161439;
    font-size: 36px;;
    line-height: 1.3;
    font-family: 'poppins', sans-serif;
    margin-top: 0px;
    font-weight: 600;
    text-transform: unset;
}

.breadcrumb__content .breadcrumb {
    display: flex;
    text-align: center;
    margin-bottom: 0;
    gap: 10px;
}

.breadcrumb__content .breadcrumb>* {
    font-size: 14px;
    color: #5751e1;
    font-family: 'Inter', sans-serif;
}

.breadcrumb__content .breadcrumb>* a {
    color: #1c1a4a;
    outline: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.breadcrumb__content .breadcrumb .breadcrumb-separator {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 700;
    margin-top: 2px;
    opacity: 0.5;
    color: #7f7e97;
}

.breadcrumb__shape-wrap img {
    position: absolute;
    z-index: -1;
}

.breadcrumb__shape-wrap img:nth-child(1) {
    left: 140px;
    top: 53px;
}

.alltuchtopdown {
    animation: alltuchtopdown 3s ease-in-out infinite alternate;
}

@keyframes alltuchtopdown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.breadcrumb__shape-wrap img:nth-child(2) {
    right: 35%;
    top: 21%;
}

.breadcrumb__shape-wrap img:nth-child(3) {
    right: 21%;
    bottom: 12%;
}

.breadcrumb__shape-wrap img:nth-child(4) {
    right: 8%;
    top: 8%;
}

.breadcrumb__shape-wrap img:nth-child(5) {
    right: 0;
    top: 0;
}
/* instructor */
.instructors__area {
    padding: 100px 0 60px;
}

.instructor__item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.instructor__thumb {
    position: relative;
    width: 185px;
}

.instructor__thumb::before {
    content: " ";
    position: absolute;
    width: 160px;
    height: 160px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: linear-gradient(156deg, #F7F6F9 10.62%, #e9f5f5 90.16%);
    border-radius: 50%;
    z-index: -1;
}

.instructor__content {
    max-width: calc(100% - 185px); 
}

.instructor__content h2 {
    margin-bottom: 8px;
    font-size: 18px;;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #161439;
    margin-top: 0;
    line-height: 1.3;
}

.instructor__content .designation {
    display: block;
    color: #5751e1;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    margin-bottom: 12px;
}

.instructor__content .avg-rating {
    display: flex;
    align-items: center;
    font-family: 'inter',sans-serif;
    font-size: 14px;
    color: #7f7e97;
    gap: 5px;
    margin-bottom: 13px;
    line-height: 1.2;
}

.instructor__content .avg-rating i {
    color: #f8bc24;
}

img {
    max-width: 100%;
}

.list-wrap li {
    list-style: none;
}

.instructor__social .list-wrap {
    display: flex;
    text-align: center;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.instructor__social .list-wrap li a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.835px solid #9292b4;
    background: #fff;
    border-radius: 50%;
    font-size: 18px;
    color: #7f7e97;
}
/* footer */
.footer__area {
    background: #06042e;
}

.footer__top {
    padding: 80px 0 50px;;
}

.footer__widget .logo {
    margin-bottom: 35px;
}

.footer__content p {
    margin-bottom: 12px;
    color: #b2bbcc;
    width: 100%;
}

.footer__content ul {
    margin: 0;
    padding: 0;
}

.list-wrap {
    margin: 0;
    padding: 0;
}

.list-wrap li {
    list-style: none;
}

.footer__content ul li {
    color: #b2bbcc;
    font-weight: 500;
    margin-bottom: 7px;
}

.footer__widget-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}

.footer__widget-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #5751E1;
}

.footer__link .list-wrap li {
    margin-bottom: 10px;
}

.footer__link .list-wrap li a {
    font-size: 14px;
    font-weight: 500;
    color: #b2bbcc;
    position: relative;
    font-family: 'Inter', sans-serif;
}

.footer__link .list-wrap li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #b2bbcc;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.74, 0.72, 0.27, 0.24);
}

.footer__contact-content p {
    margin-bottom: 10px;
    color: #b2bbcc;
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.footer__social li a {
    color: #b2bbcc;
}

.app-download {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__bottom {
    background: #1c1a4a;
    padding: 25px 0;;
}

.copy-right-text p {
    margin-bottom: 0;
    color: #8c9ab4;
}

.footer__bottom-menu .list-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.footer__bottom-menu .list-wrap li a {
    color: #8c9ab4;
    position: relative;
}

.footer__bottom-menu .list-wrap li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.74, 0.72, 0.27, 0.24);
}

.footer__bottom-menu .list-wrap li a::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 12px;
    background: #8C9AB4;
}

.footer__bottom-menu .list-wrap li:last-child a::after {
    content: none;
}



 



